.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: rgb(175, 13, 13);
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
      color: black;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
    color: black;
  }
  
  .jumbotron-heading {
    font-weight: 300;
    color: black;
  }
  
  .text-muted {
    color: black !important;
  }

  .jumbotron .container {
    max-width: 40rem;
    color: black;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: black;
  }
  
  footer p {
    margin-bottom: .25rem;
    color: black;
  }